In [43]:
import pandas as pd
from sqlalchemy import create_engine

from config.definitions import JOB_MARKET_DB_USER, JOB_MARKET_DB_PWD


pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

# Streamlined ingestion

In [51]:
db_string = f"postgresql://{JOB_MARKET_DB_USER}:{JOB_MARKET_DB_PWD}@localhost:5432/job_market"
engine = create_engine(db_string)
jobs = pd.read_sql("jobs", engine)
# de_jobs = pd.read_sql("SELECT * FROM jobs WHERE title LIKE '%data engineer%';", engine)

# Data cleaning

In [52]:
jobs.set_index('id', drop=True, inplace=True)
jobs = jobs.convert_dtypes()
jobs['created_at'] = pd.to_datetime(jobs['created_at'])
jobs['remote'].replace('N', 'Inconnu', inplace=True)

jobs

,url,title,company,location,type,industry,remote,created_at,text
id,,,,,,,,,
1898,https://datai.jobs/job/databricks-manager-big-...,Manager Big Data Engineering,Databricks,"Munich, Germany",Full Time,Data Science,N,2021-12-27,At Databricks we work on some of ...
1899,https://datai.jobs/job/argo-software-engineeri...,"Software Engineering Manager, Reporting & Data...",Argo AI,"Munich, Germany",Full Time,Vehicles & Autonomous Mobility,N,2021-12-27,Company: Argo AI GmbH Who we are:...
1900,https://datai.jobs/job/lyft-data-engineer-kyiv...,Data Engineer – Kyiv,Lyft,"Kyiv, Ukraine",Full Time,Vehicles & Autonomous Mobility,N,2021-12-27,"At Lyft, our mission is to improv..."
1901,https://datai.jobs/job/tier-senior-data-engine...,Senior Data Engineer,TIER Mobility,"Amsterdam, North Holland, Netherlands",Full Time,Vehicles & Autonomous Mobility,N,2021-12-27,THIS IS US TIER Mobility is Euro...
1902,https://datai.jobs/job/arrival-text1-saint-pet...,Senior Data Engineer,Arrival,Saint Petersburg Yasnaya Polyana,Full Time,Vehicles & Autonomous Mobility,N,2021-12-27,"At Arrival, our team is creating ..."
...,...,...,...,...,...,...,...,...,...
11450,https://www.welcometothejungle.com/fr/companie...,Lead Data Engineer (H/F),Voyage Privé,Aix-En-Provence,CDI,"E-commerce, Loisirs, Luxe",N,2022-01-25,Aventure entrepreneuriale lancée en France en ...
11451,https://www.welcometothejungle.com/fr/companie...,Data Engineer Confirmé(e),Linkvalue,Paris,CDI,"IT / Digital, Logiciels",N,2022-01-25,"L’ambition de Romain et Thibault, les co-fonda..."
11452,https://www.welcometothejungle.com/fr/companie...,Data Engineer H/F,Inetum,Courbevoie,CDI,IT / Digital,N,2022-01-25,"Inetum est une ESN agile, une société de servi..."
11453,https://www.welcometothejungle.com/fr/companie...,Data Engineer - Plateforme Big Data,Assistance Publique - Hôpitaux de Paris - DSI,Paris,CDI,"Big Data, Intelligence artificielle / Machine ...",Télétravail partiel possible,2022-01-25,L’ Assistance Publique - Hôpitaux de Paris (AP...
11454,https://www.welcometothejungle.com/fr/companie...,Data Engineer Junior H/F - Data & Analytics,BearingPoint France,Paris La Défense,CDI,"Organisation / Management, Stratégie, Transfor...",N,2022-01-25,BearingPoint est un cabinet de conseil en man...

In [53]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1698 entries, 1898 to 11454
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   url         1698 non-null   string
 1   title       1698 non-null   string
 2   company     1698 non-null   string
 3   location    1698 non-null   string
 4   type        1698 non-null   string
 5   industry    1698 non-null   string
 6   remote      1698 non-null   string
 7   created_at  1698 non-null   datetime64[ns]
 8   text        1698 non-null   string
dtypes: datetime64[ns](1), string(8)
memory usage: 132.7 KB

# Data Analysis

## Different titles

In [60]:
titles_count = jobs['title'].value_counts()

In [70]:
counts = pd.DataFrame({'title': titles_count.index, 'title_count': titles_count})
counts.reset_index(drop=True, inplace=True)

In [71]:
counts

                                                title  title_count
0                                       Data Engineer           95
1                                   Data Engineer H/F           28
2                                Senior Data Engineer           26
3                                 Data Engineer (H/F)           21
4                                   Data Engineer F/H           16
...                                               ...          ...
1098  Product Owner / Product Manager - Paris, France            1
1099                                   Data scientist            1
1100                         Data Engineer – Freemium            1
1101      Senior Data Engineer – Database Replication            1
1102                            Data Engineer (H/F/X)            1

[1103 rows x 2 columns]

## Different remote policies

In [81]:
jobs['remote'].value_counts(normalize=True)

Inconnu                          0.602473
Télétravail partiel possible     0.227915
Télétravail total possible       0.101296
Télétravail ponctuel autorisé    0.068316
Name: remote, dtype: Float64

In [83]:
pd.crosstab(jobs['industry'], jobs['remote'])

remote,Inconnu,Télétravail partiel possible,Télétravail ponctuel autorisé,Télétravail total possible
industry,,,,
"Accompagnement d'entreprises, Environnement / Développement durable",0,2,0,0
"Accompagnement d'entreprises, Expertise comptable, Stratégie",0,2,0,0
"Accompagnement d'entreprises, IT / Digital, Logiciels",2,0,0,0
AdTech / MarTech,1,2,0,0
"AdTech / MarTech, Application mobile, Grande distribution",0,0,5,0
...,...,...,...,...
SocialTech / GreenTech,0,0,0,1
Software,1,0,0,2
Software Development,1,0,0,0
Vehicles & Autonomous Mobility,73,0,0,0
Video Games,2,0,0,0

# Data Visualization